.starting-page {
    text-align: center;
    background-color: #ddd;
    padding: 20px;
    width: 1100px;
    margin: 30px auto;
}

.pauseOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    background-color: #fff;
}
.page {
    text-align: center;
}

.progress {
    width: 500px;
    margin: 10px auto 0;
}

.uibox {
    width: 100%;
    height: 100%;
    text-align: left;
}

.frame {
    background: url("../images/monitor.png") no-repeat;
    width: 951px;
    height: 545px;
    padding: 30px 112px 60px 110px;
    margin: 0 auto;
}

.uibox img {
    width: 340px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.ui_left {
    text-align: center;
    float:left;
    width: 50%;
}

.ui_right {
    float:left;
    width: 50%;
}

.ui_right_header {
    text-align: center;
    padding-top: 1em;

}

.ui_right_text {
    padding-left: 40px;
    padding-right: 50px;
    padding-top: 1.5em;
    font-size: 0.8em;
    text-align: justify;
}

.ui_navigation {
    margin-top: 35px;
    width: 100%;
    height: 100px;
    background-color: #bbb;
}

.ui_buttons {
    padding: 30px;
    text-align: center;
}

.ui_buttons div {
    display: inline-block;
    border: 1px solid black;
    background-color: #777;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.item {
    text-align: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.color_red {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffbfbf+0,ff0000+100 */
    background: #ffbfbf; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffbfbf 0%, #ff0000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffbfbf 0%,#ff0000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffbfbf 0%,#ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbfbf', endColorstr='#ff0000',GradientType=0 ); /* IE6-9 */

    color: black;
}

.color_neutral {
    background-color: #eee;
    color: black;
}

.color_green {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bfffbf+0,008000+100 */
    background: #bfffbf; /* Old browsers */
    background: -moz-linear-gradient(top,  #bfffbf 0%, #008000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #bfffbf 0%,#008000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #bfffbf 0%,#008000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfffbf', endColorstr='#008000',GradientType=0 ); /* IE6-9 */
    color: black;
}

.color_purple {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eaeaff+1,9999ff+100 */
    background: #eaeaff; /* Old browsers */
    background: -moz-linear-gradient(top,  #eaeaff 1%, #9999ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #eaeaff 1%,#9999ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #eaeaff 1%,#9999ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaff', endColorstr='#9999ff',GradientType=0 ); /* IE6-9 */
    color: black;
}

.color_orange {
    background: #f6e6b4; /* Old browsers */
    background: -moz-linear-gradient(top, #f6e6b4 0%, #ed9017 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f6e6b4 0%,#ed9017 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
    color: black;
}

.color_darkblue {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3299ff+0,00008b+100 */
    background: #3299ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #3299ff 0%, #00008b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #3299ff 0%,#00008b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #3299ff 0%,#00008b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3299ff', endColorstr='#00008b',GradientType=0 ); /* IE6-9 */
    color: white;
}

.color_yellow {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffbf+0,ffff00+100 */
    background: #ffffbf; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffbf 0%, #ffff00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffbf 0%,#ffff00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffbf 0%,#ffff00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffbf', endColorstr='#ffff00',GradientType=0 ); /* IE6-9 */
    color: black;
}
.navitem {
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
}

.navitem span {
    height: 60px;
    width: 60px;
    display: table-cell;
    vertical-align: middle;
    /*font-style: italic;*/
}
.navitem > div {
    margin: 20px auto;
    height: 60px;
    width: 60px;
    font-size: 20px;
}

.clear {
    clear: left;
}

.colorbox {
    width: 100%;
    height: 100%
}

.gew_container, .sam_container {
    margin: 0;
    text-align: center;
}

#GEW {
    width: 700px;
    height: 450px;
    margin: 0 auto;
}

#SAM_valence, #SAM_arousal, #SAM_dominance {
    width: 700px;
    height: 100px;
    margin: 0 auto;
}

path.selected {
    fill:#555555 !important;
    /*stroke:#000000; */
    stroke-width:2px;
}

.selected {
    fill:#555555 !important;
    /*stroke:#000000; */
    stroke-width:2px;
}

path.hover {
    fill: #555555 !important;
}

path, rect {
    cursor:pointer;
}

input#other {
    position:relative;
    bottom: 220px;
    width: 110px;
    margin-right: 7px;
    text-align: center;
}

#progress-container {
    margin: 100px auto;
    text-align: center;
}

#video {
    border: 3px solid #ccc;
}