<div class="modal fade" id="gewModal" tabindex="-1" role="dialog" aria-labelledby="gewModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gewModalLabel">Hinweis</h4>
            </div>
            <div class="modal-body">
                Bitte wählen sie zumindests eine Emotion oder klicken sie auf [Keine]!
            </div>
            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="gewHelpModal" tabindex="-1" role="dialog" aria-labelledby="gewHelpModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gewHelpModalLabel">Hilfe zum Rad der Emotionen</h4>
            </div>
            <div class="modal-body">
                <p>
                Das Rad der Emotionen stellt 20 verschiedene Emotionen dar.<br>
                Die 5 verschieden großen Kreise einer Emotion symbolisieren die Stärke der Emotion.<br>
                Je größer der Kreis ist, umso stärker ist die jeweilige Emotion.
                </p>
                <p>Klicken Sie auf jene Kreise welche Ihre Emotionen am besten darstellen. <br>Es können auch mehrere Emotionen gewählt werden.</p>
                <p>Falls Sie keine der vorhandenen Emotionen verspüren, können Sie auch Ihre eigene Emotion im Feld "Andere" eintragen.
                    Sollten Sie überhaupt keine Emotion verspüren, wählen Sie bitte das Feld "Keine" aus.
                </p>
            </div>
            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="gew_container">
<div id="GEW" class=""></div>
<input id="other" type="text" placeholder="Andere"/>
<input type="hidden" name="gew" value="1">
</div>