<div id="progress-container">
    <img src="images/466.gif">
    <h3>Die nächste Frage wird in <span id="seconds">10</span> Sekunden angezeigt ...</h3>
    <b>Hinweis:</b> Um die Emotionen vor einem neuen Bild "abzukühlen" wird eine 10-sekündige Pause benötigt.
</div>


<script>
    counter = 10;
    var interval = setInterval(function() {
        counter--;;
        $('#seconds').text(counter);
        // Display 'counter' wherever you want to display it.
        if (counter == 0) {
            // Display a login box
            window.location.href = "index.php?action=page";
        }
    }, 1000);
</script>

</script>