<div class="modal fade" id="samModal" tabindex="-1" role="dialog" aria-labelledby="samModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="samModalLabel">Hinweis</h4>
            </div>
            <div class="modal-body">
                Bitte wählen Sie von jeder Reihe mindestens ein Bild aus, welches am besten Ihren Emotionen entspricht!
            </div>
            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="samHelpModal" tabindex="-1" role="dialog" aria-labelledby="samHelpModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="samHelpModalLabel">Hilfe zu den Bildreihen</h4>
            </div>
            <div class="modal-body">
                <p>
                Die drei Bilderreihen symbolisieren drei Dimensionen von Emotionen.
                    </p><p>
                Die erste Reihe steht für <b>Freude/Stimmung</b> von links "traurig" bis rechts "glücklich".<br>
                Die Zweite steht für <b>Erregung/Aufregung</b>, von links "gering" bis rechts "hoch".<br>
                Die dritte Bilderreihe steht für <b>Dominanz/Betroffenheit</b>, von links "gering" bis rechts "hoch".
                </p>
                <p>Wählen Sie bitte von jeder Reihe jeweils einen Wert<br> welcher am besten zu Ihren Emotionen passt.</p>
            </div>
            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#samHelpModal">
    Hilfe zu Bildreihen
</button>

<div class="sam_container">
    <div id="SAM_valence"></div>
    <div id="SAM_arousal"></div>
    <div id="SAM_dominance"></div>
</div>

<input type="hidden" name="sam" value="1">